$dark-500: #000000;
$dark-400: #140101;
$dark-300: #CCCCCC;
$dark-100: #CBC9C9;
$light-100: #FFF8F8;
$light-200: #F8F8F8;
$light-300: #DEDDDC;
$light-400: #EDF9EE;
$primary-100: #6181F3;
$primary-200: linear-gradient(90deg, rgba(2,0,36,1)) 0%, rgba(62, 32, 248, 0.9) 35%, rgba(208, 23, 238, 1) 100%;
$warning-200: #FC0303;
$warning-100: #e7a7a5;
$green: #1ED90E;
$yellow: #E1B067;
$purple: #AE18E2;

